@using Mathy.Web.Models
@model DocVM

@{
    ViewBag.Title = "文档";
}

@section scripts {

    <script language="javascript">

        function getFuncArticle() {

            $.ajax({
                url: "/Home/GetFuncArticle?str=" + $("#str1").val(),
                success: function (html) {
                    $("#article").html(html);
                }
            });
        }


    </script>

}


<style>
    body {
        overflow-y: scroll;
    }
</style>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label" for="product_name">关键字：</label>
            <input type="text" id="str1" placeholder="关键字" class="form-control">
        </div>
    </div>
    <a class="btn btn-primary" style="margin-top:24px;width:100px" onclick="getFuncArticle()">查询</a>
</div>
@*style="float: left; width: 220px;margin-top: 0; line-height: 30px; height:500px; overflow-y:auto"*@
<div class="table-responsive gray-bg" id="article">

    @foreach (FuncDocVM func in Model.List)
    {
        <div class="media list-group-item  gray-bg">
            <div class=" media-heading">
                <h4>@func.Name</h4>
            </div>
            <div class="media-body">
                <div>
                    <div>@func.Title</div>
                    <div>@func.Description</div>
                    <div>参数</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%">名称</th>
                                <th width="10%">类型</th>
                                <th width="80%">说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ParameterDocVM parameter in func.Parameters)
                            {
                                <tr>
                                    <td width="10%">@parameter.Name</td>
                                    <td width="10%">@parameter.Type</td>
                                    <td width="80%">@parameter.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>返回</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="20%">类型</th>
                                <th width="80%">说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ReturnDocVM r in func.Returns)
                            {
                                <tr>
                                    <td width="20%">@r.Type</td>
                                    <td width="80%">@r.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <br />
                @if (func.Article != null)
                {
                    foreach (ParagraphVM p in func.Article.Paragraphs)
                    {
                        <div class='@(p.HasBorder ? "code" : "paragraph")'>
                            @{
                                if (p.HasBullet)
                                {
                                    @Html.Raw("⬤")
                                }
                                @Html.Raw(p.Text)
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }

</div>
