@using Mathy.Web.Models
@model IEnumerable<PlanListCellVM>

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

@section scripts {

    <script language="javascript">

        $(function () {
            innitPage(@ViewBag.pageIndex, @ViewBag.TotalPage, SearchPage);
            window.parent.reheight();
        })

        function SearchPage(page) {
            var url = "/home/Plans/" + "?pageIndex=" + page;

            var planName = $('#planName').val();
            if (planName.length > 0) {
                url += "&planName=" + planName + "&";
            }

            var begindate = $('#begindate').val();
            if (begindate.length > 0) {
                url += "&begindate=" + begindate + "&";
            }

            var enddate = $('#enddate').val();
            if (enddate.length > 0) {
                url += "&enddate=" + enddate + "&";
            }

            var content = $('#content').val();
            if (content.length > 0) {
                url += "&content=" + content + "&";
            }
            window.location.href = url;
        }


        function deletePlan(autoID, pageIndex) {

            if (confirm("是否确定删除？删除后无法恢复。")) {

                $.ajax({
                    url: "/Home/DeletePlan?autoID=" + autoID + "&pageIndex=" + pageIndex,
                    success: function (html) {
                        SearchPage(1);
                    },
                    error: function (res) {
                        alert(res.responseJSON.message);
                    }
                });
            }
        }

    </script>
}
    <div class="gray-bg reheight" >
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-group">
                            <label class="control-label">类型</label>
                            <div class="row" style="padding-left:20px">
                                <select class="form-control" id="dataRange" style="width:80%">
                                    <option value="不限">不限</option>
                                    <option value="公共">公共</option>
                                    <option value="保护">保护</option>
                                    <option value="私有">私有</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="product_name">模板名称</label>
                            <input type="text" id="planName" value="@ViewBag.planName" placeholder="模板名称" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">开始时间</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="begindate" class="form-control" value="@ViewBag.begindate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">结束时间</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="enddate" class="form-control" value="@ViewBag.enddate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">说明内容</label>
                            <input type="text" id="content" name="regional" value="@ViewBag.content" placeholder="说明" class="form-control">
                        </div>
                    </div>
                    <a class="btn btn-primary" style="margin-top:24px;width:100px" onclick="SearchPage(@ViewBag.pageIndex)">查询</a>
                    <a class="btn btn-primary J_menuItem_Child" style="margin-top:24px;width:100px" href="@Url.Action("CreatePlan","home")">新建模板</a>
                </div>
                <div id="Paginator"> <ul id="pageLimit"></ul> </div>
                <div class="table-responsive gray-bg">

                    @foreach (var n in Model)
                    {
                        <div class="media list-group-item  gray-bg">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @n.Title
                                    <span class="badge" title="审核状态" style="margin-left:10px;background-color: yellow;">
                                        @if (n.PlanType == "公共")
                                        {
                                            @(n.PlanType + n.AuthFlag_S)
                                        }
                                        else
                                        {
                                            @n.PlanType
                                        }
                                    </span>
                                    <span class="badge" title="方案类型" style="margin-left:10px">@n.PlanCategory</span>
                                    <span class="badge badge-warning" style="margin-left:10px">@("由" + n.Author + " 于" + n.CreateTime + "创建")</span>
                                    <span class="badge badge-primary" style="margin-left:10px"> @("被引用 " + n.ReferenceCount + " 次")</span>
                                </h4>
                                @if (!string.IsNullOrEmpty(n.Description))
                                {
                                    @Html.Raw(n.Description)
                                }
                            </div>
                            <div class="media" style="margin-top:10px">
                                @if (n.IsCustom)
                                {
                                    if (n.PlanType == "公共")
                                    {
                                        <a href="@Html.Raw(n.CreateJobUrl)" class="btn-sm btn-success J_menuItem_Child">分析</a>
                                        <a href="@Html.Raw(n.ViewPlanUrl)" class="btn-sm btn-info J_menuItem_Child">查看</a>

                                    }
                                    if (n.PlanType == "保护")
                                    {
                                        <a href="@Html.Raw(n.ViewPlanUrl)" class="btn-sm btn-info J_menuItem_Child">查看</a>
                                    }
                                }
                                else
                                {
                                    <a href="@Html.Raw(n.CreateJobUrl)" class="btn-sm btn-success J_menuItem_Child">分析</a>
                                    <a href="@Html.Raw(n.ViewPlanUrl)" class="btn-sm btn-info J_menuItem_Child">查看</a>
                                    <a href="@Html.Raw(n.EditPlanUrl)" class="btn-sm btn-primary J_menuItem_Child">编辑</a>
                                    <a href="@Html.Raw(n.DeletePlanUrl)" class="btn-sm btn-danger"> 删除</a>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
