@using Mathy.Web.Models
@model IEnumerable<PlanListCellVM>
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
@section scripts {

    <script language="javascript">

        $(function () {
            innitPage(@ViewBag.pageIndex,@ViewBag.TotalPage, SearchPage);
            window.parent.reheight();
        })

        function SearchPage(page) {
            var url = "/home/PlansAuth/" + "?pageIndex=" + page;

            var planName = $('#planName').val();
            if (planName.length > 0) {
                url += "&planName=" + planName + "&";
            }

            var begindate = $('#begindate').val();
            if (begindate.length > 0) {
                url += "&begindate=" + begindate + "&";
            }

            var enddate = $('#enddate').val();
            if (enddate.length > 0) {
                url += "&enddate=" + enddate + "&";
            }

            var content = $('#content').val();
            if (content.length > 0) {
                url += "&content=" + content + "&";
            }
            window.location.href = url;
        }

    </script>
}

    <div class="gray-bg reheight" >
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="product_name">模板名称</label>
                            <input type="text" id="planName" value="@ViewBag.planName" placeholder="模板名称" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">开始时间</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="begindate" class="form-control" value="@ViewBag.begindate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">结束时间</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="enddate" class="form-control" value="@ViewBag.enddate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">说明内容</label>
                            <input type="text" id="content" name="regional" value="@ViewBag.content" placeholder="说明" class="form-control">
                        </div>
                    </div>
                    <a class="btn btn-primary" id="SearchPageB" style="margin-top:24px;width:100px" onclick="SearchPage(@ViewBag.pageIndex)">查询</a>
                </div>
                <div id="Paginator"> <ul id="pageLimit"></ul> </div>
                <div class="table-responsive gray-bg">
                    @foreach (var n in Model)
                    {
                        <div class="media list-group-item">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @n.Title
                                </h4>
                                <h5>@(n.Author + "  " + n.CreateTime)</h5>
                                @Html.Raw(n.Description)
                            </div>
                            <div class="media" style="margin-top:10px">
                                <a href="@Html.Raw(n.AuthPlanUrl)" class="J_menuItem_Child btn-sm btn-warning">审核</a>&nbsp;
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
