@using Mathy.Web.Models
@model IEnumerable<JobListCellVM>
@section scripts {

}
<div class="gray-bg" style="height:110%">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="p-w-md m-t-sm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label" for="product_name">实验名称</label>
                                        <input type="text" id="jobName" name="jobName" value="@ViewBag.jobName" placeholder="实验名称" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label" for="product_name">模板名称</label>
                                        <input type="text" id="planName" name="planName" value="@ViewBag.planName" placeholder="模板名称" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label class="control-label">是否完成</label>
                                        <div class="row" style="padding-left:20px">
                                            <select class="form-control" id="isFinish" style="width:80%">
                                                <option value="不限">不限</option>
                                                <option value="完成">完成</option>
                                                <option value="未完成">未完成</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">开始时间</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="begindate" class="form-control" value="@ViewBag.begindate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">结束时间</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="enddate" class="form-control" value="@ViewBag.enddate">
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" style="margin-top:24px;width:100px" onclick="SearchPage(@ViewBag.pageIndex)">查询</a>
                            </div>
                            <div id="Paginator"> <ul id="pageLimit"></ul> </div>
                            <div class="table-responsive gray-bg">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td><strong>实验名称</strong></td>
                                            <td><strong>模板名称</strong></td>
                                            <th>创建时间</th>
                                            <td><strong>修改时间</strong></td>
                                            <td><strong>完成</strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                        @foreach (JobListCellVM item in Model as IEnumerable<JobListCellVM>
                                            )
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.PlanTitle</td>
                                                <td>@item.CreateTime</td>
                                                <td>@item.UpdateTime</td>
                                                <td>@(item.IsComplete ? "是" : "否")</td>
                                                <td>
                                                    @if (item.PlanTitle.Contains("蒙特卡洛计算"))
                                                    {
                                                        <a href="@Url.Action("MCM_J",new { jobId=item.AutoID })" class="J_menuItem_Child">查看</a>;
                                                    }
                                                    else
                                                    {
                                                        <a href="@Html.Raw(item.ViewLink)" class="J_menuItem_Child">查看</a>;
                                                    }

                                                    @if (ViewBag.isall == 0)
                                                    {
                                                        <a href="@Html.Raw(item.UpdateLink)" class="J_menuItem_Child">修改</a>
                                                    }&nbsp;
                                                    @if (ViewBag.isall == 0)
                                                    {
                                                        <a href="@Html.Raw(item.DeleteLink)">删除</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var flag = '@ViewBag.isall';
    $(function () {
        if(flag=="0")
            innitPage(@ViewBag.pageIndex, @ViewBag.TotalPage, "/home/index/");
        else
            innitPage(@ViewBag.pageIndex, @ViewBag.TotalPage, "/home/alljob/");
    });

</script>

@*<table class="table">
        <thead>
            <tr>
                <th width="25%">实验名称</th>
                <th width="25%">模板名称</th>
                <th width="15%">创建时间</th>
                <th width="15%">修改时间</th>
                <th width="5%">完成</th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody>

            @{

                foreach (JobListCellVM item in Model as IEnumerable<JobListCellVM>)
                {
                    <tr>
                        <td width="25%">@item.Name</td>
                        <td width="25%">@item.PlanTitle</td>
                        <td width="15%">@item.CreateTime</td>
                        <td width="15%">@item.UpdateTime</td>
                        <td width="5%">@(item.IsComplete ? "是" : "否")</td>
                        <td width="15%">
                            <a href="@Html.Raw(item.ViewLink)">查看</a>&nbsp;
                            <a href="@Html.Raw(item.UpdateLink)">修改</a>&nbsp;
                            <a href="@Html.Raw(item.DeleteLink)">删除</a>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
    @{
        Html.RenderPartial("PagingBar", ViewData["PagingButtons"]);
    }
*@

