@using Mathy.Templates;

@{
    Template template = Model as Template;

    string id = "templateDetail_" + template.ID;
}

<div>
    <a onclick="javascript:toggleTemplateDetail('@id')">@template.Name</a>
</div>

<div id="@id" class="templateDetail">

    @{

        <div>@template.Expression</div>

        <div>
            @template.Description
        </div>

        <div>
            <b>返回 </b>
            @template.ReturnType
        </div>

        <div>
            <b>单位 </b>
            @template.ReturnUnit
        </div>

        <div>
            <b>参数 </b>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th width="10%">名称</th>
                    <th width="10%">类型</th>
                    <th width="80%">说明</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Parameter parameter in template.Parameters)
                {
                    <tr>
                        <td width="10%">@parameter.Name</td>
                        <td width="10%">@parameter.Type</td>
                        <td width="80%">@parameter.Description</td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <b>参见 </b>
            @template.Reference
        </div>

        <div>
            @template.Author
            &nbsp;
            @template.LastUpdateTime
        </div>
    }

</div>